* {
    --primary-white:#FFFFFF;
    --secondary-white:#F2F2F2;
    --tirtiary-white:#dedede;
    --primary-black:#212121;
    --primary-purple:#6101ff;
    --primary-blue: cornflowerblue;
    --width: 300px;
    color: var(--primary-black);
    /* font-weight: 300; */
}   

.chatFooter,
.chatHeader {
    background-color: var(--primary-white);
    box-shadow: 0 0 10px var(--tirtiary-white);
    z-index: 300;
    border-radius: 5px;
}

body {
    width: var(--width);
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0
}

.chatHeader {
    position: fixed;
    top: 0;
    width: calc(var(--width) - 10px);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 300;
    padding: 5;
    margin: 0;
}

#chatHeaderTitle {
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 2.0em;
    font-weight:500;
}

#headerLogo {
    max-width: 40px;
    max-height: 35px;
    padding: 0;
    margin: 0;
    margin-right: 5;
    border-radius: 5;
}

.chatLogin {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    align-items: center;
}

#loginUVP {
    margin: 10;
    padding: 10;
    font-size: 1.2em;
    text-align: center;
    font-weight: 300;
}

#loginTag {
    margin-bottom: 5;
    padding: 0;
    font-weight: 300;
    font-style: italic;
}

#login-btn {
    display: flex;
    flex-direction: row;
    margin: 5;
    padding: 10 20;
    border-radius: 5px;
    border: none;
    font-size: 1.1em;
    font-weight: 500;
    color: var(--primary-white);
    cursor: pointer;
    width: auto;
    background-color: var(--primary-purple);
}

#login-btn:hover {
    box-shadow: 0 0 5px var(--primary-purple);
}

#login-disclaimer {
    margin-top: 20px;
    padding: 10px;
    font-size: .75em;
    text-align: center;
}

.chatHistory {
    margin-top: 55px;
    margin-bottom: 55px;
    background-color: var(--primary-white);
}

.feed {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    margin: 0;
    overflow: auto;
}

.citation {
    cursor: pointer;
    width: fit-content;
    border-radius: 90px;
    color: var(--primary-blue);
}

.citation:hover {
    background-color: var(--secondary-white);
}

.message {
    padding: 10;
    margin: 7px 15px;
    border: 1px solid var(--tirtiary-white);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--tirtiary-white);
}

#summaryTitle {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-weight: 400;
    font-style: italic;
}

#summaryChannel {
    margin: 0;
    margin-top: 5;
    margin-bottom: 0;
    padding: 0;
    font-size: 1.1em;
    font-weight: 300;
}

#summaryKeypointsHeader {
    margin: 0;
    padding: 0;
    font-weight: 300;
}

#summaryKeypoints {
    /* margin-left: ; */
    list-style: none;
    margin-top: 5;
}

.keypoint {
    margin: 0;
    padding: 5 0;
    font-weight: 400;
    font-size: .9em;
}

.keypointBullet {
    margin: 0;
    padding: 0;
    font-weight: 200;
    font-size: .9em;
}

.question {
    margin: 0;
    font-style: italic;
    font-weight: 300;
}

#export {
    /* position: absolute;
    right: 7px;    
    bottom: 57px; */
    max-width: 23px;
    max-height: 23px;
    cursor: pointer;

    margin: 0;
    padding: 5; 
    border-radius: 10px;
    opacity: .75;

    background-color: var(--secondary-white);
    border: 1px solid var(--tirtiary-white);
    /* box-shadow: 0 5 10px var(--tirtiary-white); */
}

#export:hover {
    box-shadow: 0 0 5px var(--primary-blue);
    opacity: 1;
    background-color: var(--tirtiary-white);
}

#clear {
    position: absolute;
    right: 7px;    
    bottom: 7px;
    max-width: 23px;
    max-height: 23px;
    cursor: pointer;

    margin: 0;
    padding: 5; 
    border-radius: 90px;
    opacity: .95;

    background-color: var(--secondary-white);
}

.chatFooter {
    bottom: 0;
    z-index: 300;
    padding: 0;
    height: 45;
    width: 100%;
    position: fixed;
    width: calc(var(--width) - 20px);
}

/* .inputBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    width: 100%;
} */

#input {
    resize: none;
    padding: 12;
    margin-bottom: 5;
    height: 20;
    width: 92%;
    overflow: auto;
    font-size: inherit;
    font-family: inherit;
    border-radius: 5px;
    background-color: transparent;
    /* font-size: .95em; */
    border: transparent;
    /* box-shadow: 0 0 10px var(--tirtiary-white); */
}

#input:focus {
    outline: var(--primary-blue);
}

.inputBoxButtons {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#send {
    position: absolute;
    right: 13px;
    bottom: 36px;

    margin: 0;
    padding: 5; 
    border-radius: 90px;
    border: none;

    max-width: 15px;
    max-height: 15px;
    cursor: pointer;
    background-color: transparent;
}

#send:hover {
    background-color: var(--secondary-white);
}

#loading {
    position: absolute;
    right: 10px;
    bottom: 12px;
    max-width: 20px;
    max-height: 20px;
}

.disclaimer {
    font-size: .75em;
    text-align: center;
    margin: 0;
    margin-top: 2px;
    padding: 0;
}

#logout {
    position: absolute;
    right: 7px;

    cursor: pointer;
    font-size: .9em;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

#logout:hover {
    background-color: var(--secondary-white);
}